// sass-lint:disable-all

.experimentContainer {
  height: 0 !important;
  opacity: 0!important;
  overflow: hidden!important;
  width: 0!important;
  transition: all 0s linear;
}

.experimentVisible {
  height: inherit!important;
  opacity: 1!important;
  overflow: visible!important;
  width: inherit!important;
  transition: all 200ms linear;
}
